<style>
   @media (min-height: 320px) {
  .ui.footer.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
  }
} 
</style>

<div class="ui vertical footer segment form-page" style="background-color: rgb(49, 49, 49); color: white;">
    <div class="ui container" style="text-align: center;">
      KLE Technological University 2020. All Rights Reserved
    </div>
</body>