<!DOCTYPE html>

<head>
  <title>
    KLE CVG 2020
  </title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

<body>
  <style>
    @media screen and (min-width: 900px)and (max-width: 1000px) {

      /* For mobile phones: */
      #nav {
        height: 100px;
        font-size: 30px;
      }
    }

    @media screen and (min-width: 900px)and (max-width: 1000px) {

      /* For mobile phones: */
      #elements {
        width: 100px;

      }
    }
  </style>
  <div class="ui inverted fixed menu" style="margin-top: -2px;height:50px;" id="nav">
    <a href="/" class="active item" style="font-size: 15px;" id="elements">
      <img src="kletech.png">
    </a>
    <a class="item" style="font-size: 15px;" id="elements">
      About
    </a>
    <a href="/contact" class="item" style="font-size: 15px;" id="elements">
      Contact
    </a>
  </div>